@use '../utils/variables' as * ;
@use '../utils/mixins' as * ;
.card{
    
    width: 20%;
    @include flexColumn;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 16px;
    padding: 1rem;
    transition: all 0.18s ease-in-out;

    &:hover{
        cursor: pointer;
        background-color: #fff;
        color: $bg-color;
    }

    &__img{
        width: 120px;
    }

    &__description{
        text-align: center;
    }

    @media (max-width: 1024px) {
        width: 30%;
    }
    @media (max-width: 768px) {
        width: 70%;
        
    }
}
