@use '../utils/variables' as *;

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    padding: 0.8rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(30px);

    &__logo{
        width: 3.2rem;  
        border-radius: 100%;
    }
}