@use '../utils/variables' as *;

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    padding: 0.8rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(30px);

    animation: shrink linear forwards;
    animation-timeline: scroll();

    &__logo{
        width: 3.2rem;  
        border-radius: 100%;
    }
}

@keyframes shrink {
    0% {height: $header-height;}
    100% {height: calc($header-height - 1rem);}
}