.navbar{

    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1.4rem;
    }

    &__link{
        color: #fff;
        font-size: 1.4rem;
    }
    
    &__link:hover{
        color: #fffd;
    }
}