@use '../utils/variables' as *;

.navbar{

    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1.4rem;
    }

    &__link{
        color: #fff;
        font-size: 1.4rem;
        transition: all 0.18s ease-in-out;
    }
    
    &__link:hover{
        color: $primary-color;
    }
}