.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__grid{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__link{
        width: 20%;
    }

    &__button{
        width: 100%;
    }
}   